@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA; 
$tertiary-color: #99E2D0;
$gridTp: "repeat(2, 1fr)/repeat(2, 1fr)";
    

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    animation: screen-show 5s linear forwards;
}

@keyframes screen-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rolling-spinner {
    width: 100px;
    height: 100px;
    border: 5px solid transparent;
    border-bottom-color: rgb(81, 81, 211);
    border-top-color:rgb(81, 81, 211) ;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    animation: spinner 2s linear forwards;
}

@keyframes spinner {
    0% {
        opacity: 1;
    }
    100% {
       opacity: 0;
       transform: rotate(720deg);
    }
}


header {
    padding: 30px 0 30px 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;  
        
    }
}

.sub-header {
    width: 100%;
    height: 35%;
    background-color: #f1e9e9;
    .company-location {
        background-color: rgb(230, 224, 224);
        width: 100%;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        i {
            padding-right: 20px;
            font-weight: bold;
        }
        
    }

 .booking-menu {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-bottom: 50px;
     a {
        text-decoration: none;
         color: white;
         border-style: none;
         padding: 15px 50px;
         background: linear-gradient($secondary-color, $primary-color);
         border: 0px solid none;
         border-radius: 25px;
         font-weight: bold;
         font-size: 1rem;
         
         }
      .btn {
        box-shadow: 5px 15px 34px -9px rgba(79,76,79,1);
        &:hover {
            background-color: linear-gradient($primary-color,$secondary-color);
            animation: lighten-color 2s linear forwards;
        }
      }
     }
 }

 @keyframes lighten-color {
     0% {
         opacity: 1;
     }
     100% {
         opacity: .5;
     }
 }

nav {
    padding: 20px 20px 40px 20px;
    p {
        padding-left: 30px;
        @extend .bolder-text;
    }
}

.nav {
    border: 1px solid transparent;
    width: 300px;
    height: 70px;
    background-color: rgb(238, 234, 234);
    box-shadow: 2px 14px 41px -11px rgba(102,97,101,1);
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    i {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media all and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
}

.list-number {
    width: 20px; 
    height: 20px;
    margin-left: -10px;
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurants {
    background-color: rgb(224, 222, 222);
    padding: 20px 0 20px 0;
    #restaurants {
        font-weight: bolder;
        font-size: 2rem;
        margin-left: 10%;
    }

    
   .restaurants-list {
       display: grid; 
       grid-gap: 25px;
       padding: 20px 5%;
       grid-template: $gridTp;
       grid-template-areas: 
       "a b"
       "c d";
       
   } 
   .restaurant-list__one {
       grid-area: a;
   }
   .restaurant-list__two {
       grid-area: b;
   }
   .restaurant-list__three {
       grid-area: c;
   }
   .restaurant-list__four {
 grid-area: d;
   }

   @media all and (max-width: 768px) {
       .restaurants-list  {
           display: block;
       }
   }
}   

.restaurant {
    margin: 20px auto;
    width: 80%;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 14px 41px -13px rgba(102,97,101,1);
    position: relative;
    img {
        width: 100%;
        height: 70%;
        border: 0px solid transparent;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
        object-position: center;
         
    }
    .new-tag {
        font-weight: bolder;
        position: absolute;
        top: 0px;
        right: 10px;
        color: $primary-color;
        background-color: $tertiary-color;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 5px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .restaurant-info {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .restaurant-name{
            padding-left: 20px;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        .fa-heart {
            margin: 20px;
            font-size: 2rem;
            color: $primary-color;
        
            &:hover {
            font-weight: bolder;
            color: $secondary-color;
            animation: filling-color 1s linear;
            }
        
        }
    }
    
}

@keyframes filling-color {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.bolder-text {
    font-weight:  bolder;
    font-size: 2rem;
}
.bold-text {
    font-weight: bold;
    line-height: -2px;
}

footer {
    background-color: #3b3939;
    color: white;
    width: 100%;
    height: 200px;
}

.footer-logo {
    font-family: 'Shrikhand', cursive;
    font-size: 10px;
    margin: 20px auto;
    padding-left: 30px;
}

.footer-content {
    padding: 20px;
    li {
        list-style: none;
     a {
         color: white;
         text-decoration: none;
         
     }
    }

}