@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  text-decoration: none;
}

header .fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 1.5rem;
  font-weight: 700px;
  text-decoration: none;
}

header .logo {
  font-family: 'Shrikhand', cursive;
}

.image img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main {
  background-color: #ddd3d3;
  border: 1px solid transparent;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -40px;
  width: 100%;
}

main .restaurant-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

main .restaurant-name h1 {
  font-family: 'Shrikhand', cursive;
  position: relative;
  top: 20px;
  left: 5%;
}

main .restaurant-name i {
  position: relative;
  top: 30px;
  right: 5%;
  font-size: 2rem;
}

main .restaurant-name i:hover {
  font-weight: bolder;
  color: #FF79DA;
  -webkit-box-shadow: linear-gradient(to right, #9356DC);
          box-shadow: linear-gradient(to right, #9356DC);
}

main .menu-list .menu-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menu-list .menu-list__content .food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 90%;
  margin: 10px auto;
  border: 0px solid transparent;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 2px 14px 41px -13px #666165;
          box-shadow: 2px 14px 41px -13px #666165;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: blink 400ms ease forwards;
          animation: blink 400ms ease forwards;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

main .menu-list .menu-list__content .food-list:hover {
  color: #9356DC;
}

main .menu-list .menu-list__content .food-list:hover > .food-list__price {
  -webkit-animation: slide 500ms linear both;
          animation: slide 500ms linear both;
}

main .menu-list .menu-list__content .food-list:hover > .checked-icone {
  -webkit-animation: slide 500ms linear both;
          animation: slide 500ms linear both;
}

main .menu-list .menu-list__content .food-list:hover > .checked-icone i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

main .menu-list .menu-list__content .food-list .food-list__name {
  margin: 10px auto 10px 10px;
}

main .menu-list .menu-list__content .food-list .food-list__price {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

main .menu-list .menu-list__content .food-list .checked-icone {
  position: relative;
  width: 80px;
  height: 100%;
  margin-left: 20px;
  background-color: #79bbab;
  border: 0px solid transparent;
  border-radius: 0px 20px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: white;
  font-size: 2rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

main .menu-list .menu-list__content .food-list .checked-icone i {
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

main .menu-list .menu-list__content .food-list__one {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

main .menu-list .menu-list__content .food-list__two {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

main .menu-list .menu-list__content .food-list__three {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

main .menu-list .menu-list__content .food-list__four {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

main .menu-list .menu-list__content .food-list__five {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

main .menu-list .menu-list__content .food-list__six {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

main .menu-list .menu-list__content .food-list__seven {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

main .menu-list .menu-list__content .food-list__eight {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

main .menu-list .menu-list__content .food-list__nine {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

main .menu-list .menu-list__content .food-list__ten {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    opacity: .1;
  }
  20% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    opacity: .2;
  }
  30% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    opacity: .3;
  }
  40% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: .4;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: .5;
  }
  60% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: .6;
  }
  70% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: .7;
  }
  80% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: .8;
  }
  90% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: .9;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    opacity: .1;
  }
  20% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    opacity: .2;
  }
  30% {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    opacity: .3;
  }
  40% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: .4;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: .5;
  }
  60% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: .6;
  }
  70% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: .7;
  }
  80% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: .8;
  }
  90% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: .9;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.menu-type h3 {
  padding-left: 5%;
}

.menu-type hr {
  width: 45px;
  background-color: #79bbab;
  border: none;
  margin-top: -15px;
  height: 2px;
  position: absolute;
  left: 5%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn button {
  padding: 15px 60px;
  margin: 20px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px -1px 143px -45px #d4d4d4;
          box-shadow: 5px -1px 143px -45px #d4d4d4;
  border: 0px solid transparent;
  border-radius: 35px;
  color: white;
  font-size: 1.5rem;
}

.btn button:focus {
  outline: 0px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(#FF79DA), to(#79bbab));
  background: linear-gradient(#9356DC, #FF79DA, #79bbab);
}

footer {
  background-color: #3b3939;
  color: white;
  width: 100%;
  height: 200px;
}

.footer-logo {
  font-family: 'Shrikhand', cursive;
  font-size: 10px;
  margin: 10px auto;
  padding-left: 30px;
}

.footer-content {
  padding: 10px;
}

.footer-content li {
  list-style: none;
}

.footer-content li a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=menu.css.map */